body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica neue", sans-serif;
}

h1, h2, h3, h4 {
	margin: 0;
}

h1 {
	font-size: 90px;
}

h2 {
	font-size: 70px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 25px;
}

p {
	font-size: 20px;
	line-height: 1.5em;
}

/*** Header properties ***/

.logoname {
	display: flex;
	align-items: center;
}

#lnh {
	margin-left: 150px;
}

header {
	padding: 0;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
	transition: 1s ease-in-out;
}

.headerbg {
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.65);
	transition: 1s ease-in-out;
}

a {
	text-decoration: none;
}

header .logo {
	width: 70px;
	display: block;
	margin-right: 10px;
}

#sitename {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

header nav ul {
	list-style-type: none;
	display: flex;
	font-weight: bold;
	margin-right: 150px;
}

header nav ul li {
	color: #fff;
	font-size: 20px;
	padding: 10px 25px;
}

header nav ul li:hover, header nav ul .active {
	margin-bottom: -5px;
	border-bottom: 5px solid #fff;
}

/*** Hero image properties ***/

.hero {
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	color: #fff;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.herohead {
	padding: 5px 150px;
	text-align: center;
}

.landing {
	background-image: url(../img/hero_landing.jpg);
	height: 100vh;
}

.facts {
	background-image: url(../img/hero_facts.jpg);
	height: 65vh;
	text-align: right;
}

.solutions {
	background-image: url(../img/hero_solutions.jpg);
	width: 100%;
	height: 50vh;
}

.join {
	background-image: url(../img/hero_join.jpg);
	height: 50vh;
}

.shop {
	background-image: url(../img/hero_shop.jpg);
	height: 50vh;
}

/* Landing hero image text */

.countdown div {
	font-size: 30px;
	padding: 0 25px;
	font-weight: bold;
	user-select: none;
	display: inline-block;
	opacity: 1;
	animation: cdfadein 4s;
}

@keyframes cdfadein {
	0% {opacity: 0; }
	50% {opacity: 0; }
	100% {opacity: 1; }
}

#scrolldown {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 20px;
}

/*** Content properties ***/

.content {
	margin: 25px 150px;
}

/** Landing page **/

.banner {
	padding: 25px 0;
	text-align: center;
}

.banner a {
	color: #000;
	font-size: 50px;
}

video {
	overflow: hidden;
	width: 100%;
	background-color: #112f0a;
}

.container {
	position: relative;
	background-color: #000000;
	color: #fff;
	width: 100%;
	height: 100%;
}

.slidedots {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

.dot {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	margin: 0 10px;
}

.callheading {
	text-transform: uppercase;
	font-size: 50px;
	padding: 10px 0;
}

#warming {
	position: absolute;
	padding: 75px 150px;
	z-index: 1;
}

/* Slideshow animation properties */

.fade {
	animation: fade 8s;
}

@keyframes fade {
	0%   { opacity: 0; }
	10%   { opacity: 1; }
	90%  { opacity: 1; }
	100% { opacity: 0; }
}

.caption {
	padding: 150px 75px 75px 150px;
	display: none;
}

.caption:nth-child(2) {
	background-image: linear-gradient(to right, rgb(66, 105, 14), rgba(0, 0, 0, 0)), url(../img/france.JPG);
	background-size: cover;
}

.caption:nth-child(3) {
	background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(../img/fire.JPG);
	background-size: cover;
}

.caption:nth-child(4) {
	background-image: linear-gradient(to right, rgb(32, 87, 142), rgba(0, 0, 0, 0)), url(../img/glacier.JPG);
	background-size: cover;
}

.caption p {
	margin: 10px 0;
}

.container-2 {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 25px 120px;
}

.container-2 > * {
	width: 50%;
}

.caption-2 h4, .caption-2 p {
	margin: 20px 0;
}

.learnmore {
	padding: 10px 20px;
	background-color: #ffffff;
	border-radius: 5px;
	border-style: none;
	transition: 0.5s;
}

.disasters {
	width: 800px;
	height: 450px;
	margin-right: 50px;
	position: relative;
}

#dis_textoverlay {
	padding: 25px;
}

.container-2 button {
	background-color: #C0DAE7;
}

.container-2 button:hover {
	background-color: #d1d1d1;
	cursor: pointer;
}

/** Facts page **/

.columns {
	display: flex;
	flex-wrap: wrap;
}

.columns > * {
	flex: 50%;
}

.textchart {
	margin: 15px 0;
	width: 100%;
}

.textchart #lefttext {
	margin-top: 15px;
	margin-right: 50px;
}

.textchart #righttext {
	margin-top: 15px;
	margin-left: 50px;
}

.textchart .chartsource {
	font-size: 16px;
	text-align: right;
}

.piechart > * {
	padding: 10px 0;
	width: 100%;
}

.galleryhead {
	color: #000;
	text-align: center;
	padding: 0 25px;
    margin: 0 250px;
}

.galleryhead div {
	border: 5px solid #000;
}

.galleryhead h3 {
	padding-top: 30px;
	font-size: 50px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 100px;
	padding: 0;
	overflow: hidden;
}

.gallerypic {
	margin: 5px;
	flex: 30%;
	flex-direction: row;
	position: relative;
	text-align: center;
}

.gallerypic img {
	height: 100%;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 0);
	transition: 0.5s ease-in-out;
}

.overlay .cap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}

.gallerypic:hover .overlay {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 1);
	transition: 0.5s ease-in-out;
}

@media (max-width: 1000px) {
	.gallery div, .columns {
		flex: 100%;
		flex-direction: column;
	}
}

/** Solutions page **/

.allsols {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.sol {
	min-width: 45%;
	height: 300px;
	list-style-type: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.sol_icon {
	width: 200px;
}

.sol_icon img {
	width: 100%;
}

.sol_text h3 {
	padding: 10px 0;
}

.sol_text ul {
	font-size: 20px;
	width: 400px;
	line-height: 1.5em;
}

.question {
	background-image: url(../img/tree_and_plants.jpg);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 75px;
	height: auto;
	background-size: cover;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.question > * {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 50px 60px;
	padding: 30px;
}

.solution-question1{
	width: 55%;
	height: auto;
}

.solution-question1 h2 {
	display: none;
}

.question textarea {
	box-sizing: border-box;
	resize: none;
	width: 100%;
	height: 100px;
	margin-top: 30px;
	padding: 10px;
	font-family: "Helvetica neue", sans-serif;
	font-size: 16px;
	border: 2px solid grey;
	color: #000;
}

.solution-question2{
	width: 45%;
	height: auto;
}

.solution-question2 p {
	margin: 0;
	padding: 0;
}

#suggest_ed {
	float: right;
	margin: 10px 0;
}

/** Join page **/

#jointop {
	display: flex;
	flex-wrap: nowrap;
}

#jointop > * {
	flex: 50%;
}

#jointop img {
	width: 50%;
	height: 100%;
}

#jointop p, #jointop ul li {
	font-size: 24px;
	line-height: 1.5em;
	margin-right: 25px;
}

#join_initiatives > * {
	padding: 100px 150px;
	display: flex;
}

#join_initiatives > * > * {
	flex: 50%;
    line-height: 1.5em;
}

.volunteer {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/volunteer_banner.jpg");
	background-size: cover;
}

.events {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/events_banner.jpg");
	background-size: cover;
}

.spon {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/spon_banner.jpg");
	background-size: cover;
}
.spon h3{
    padding-top: 60px;
}
.events h3{
    padding-top: 60px;
}
.volunteer h3{
    padding-top: 65px;
}
/* Join form properties */

#joinbg {
	width: 100%;
	height: 720px;
	background-image: url(../img/joinform_bg.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

#joinus {
	width: 575px;
	height: 90%;
	padding: 10px 20px;
	position: absolute;
	right: 10%;
	top: 5%;
	background-color: rgba(255, 255, 255, 0.8);
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 5px 5px rgba(136, 136, 136, 0.2);
	text-align: left;
}

#formname {
	margin: 10px;
}

.fill{
	border: 1px solid #808080;
	margin: 5px 10px;
	border-radius: 5px;
}

#joinus input[type="text"], #joinus nput[type="email"], #joinus textarea, #joinus select{
	font-size: 16px;
	font-family: "Helvetica neue", sans-serif;
	width: 95%;
	height: 25px;
	margin: 10px 10px 10px 0;
	background: none;
	border: none;
	outline: none;
	resize: none;
}

#joinus input[type="textbox"] {
	width: 145px;
}

#joinus label {
	font-size: 18px;
	margin-left: 10px;
}

.columnform {
	display: flex;
	flex-wrap: wrap;
}

.columnform > * {
	flex: 40%;
}

::placeholder{
	color: #000;
}

#interested {
	padding-left: 10px;
	font-weight: bold;
}

.areas {
	font-size: 16px;
}

.interested-areas{
	text-align: left;
	margin: 0 20px;
	line-height: 1.5em;
	display: flex;
}

.interested-areas ul {
	flex: 50%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#join_ed {
	display: block;
	width: 100px;
	height: 40px;
	margin: 10px;
	border: none;
	background-color: #376cd0;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

#formnote {
	padding: 5px;
	float: right;
}

.popup {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: auto;
}

.popup .logo {
	width: 70px;
	margin-right: 10px;
}

.popupcontent {
	margin: 10% auto;
	padding: 50px;
	background-color: #fff;
	width: 40%;
}

.closepop {
	float: right;
	font-weight: bold;
	font-size: 30px;
	user-select: none;
}

.closepop:hover {
	color: #909090;
}

/** Shop properties **/

#cart {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
}

#cart p {
	margin: 0;
	padding-bottom: 20px;
}

#cart:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.05);
}

#cart img {
	width: 100px;
	padding: 10px 10px 0 10px;
}

.allshop {
	display: flex;
}

.allshop > * {
	padding: 25px;
	flex: 33%;
}

.shopitem {
	width: 400px;
}

.shopitem img {
	width: 100%;
	padding-bottom: 25px;
}

.popup h5 {
	float: right;
}

#smalltree_sc, #gifttree_sc, #growntree_sc, #tshirt_sc, #totebag_sc {
	display: none;
}

#shoppopup div {
	padding: 15px 0;
}

#gifttree_sc textarea{
	height: 50px;
	width: 400px;
	resize: none;
}

#purchase {
	width: 100%;
}

/** Quiz properties **/

#quizbg {
	background-image: url("../img/quiz_bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	padding: 180px 0;
	width: 100%;
}

#quizoverlay {
	background-color: #ededed;
	background-color: rgba(237, 237, 237, 0.8);
	color: #000;
	width: 60%;
	margin: 100px auto;
	padding: 50px 100px;
}

#quizban button, #quizoverlay button, .shopitem button, #suggest_ed , #purchase{
	font-size: 20px;
	font-weight: bold;
	background-color: #376cd0;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
}

#quizban button:hover, #join_ed:hover, #quizoverlay button:hover {
	background-color: #7a9ee3;
	cursor: pointer;
}

#quiz, #finish, #score, #replay, #shopwarning {
	display: none;
}

#openq, #startquiz {
	margin-top: 0;
	display: block;
}

#quiz #question {
	margin: 10px 0 0 0;
}

#choiceimg {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
}

#choiceimg > * {
	margin: 0;
	padding: 10px 0;
}

#choiceimg ul {
	list-style-type: none;
	flex: 50%;
}

#choiceimg img {
	height: 200px;
	margin-left: 50px;
}

#quiz ul li {
	font-size: 18px;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #afafaf;
	border-radius: 10px;
}

#quiz ul li:hover {
	background-color: #d6e2f8;
}

#quiz ul li input, #quiz ul li label {
	margin: 5px;
	cursor: pointer;
}

/*** Footer properties ***/

footer {
	display: flex;
	background-color: #13261a;
	color: #fff;
	height: 100px;
	padding: 30px 150px;
	font-size: 18px;
	font-weight: bold;
	align-items: flex-start;
	justify-content: space-between;
}

footer .logo {
	width: 100px;
	margin-right: 10px;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li, .followus {
	padding-bottom: 10px;
}

footer ul li a {
	color: #fff;
}

footer .smicon {
	padding: 10px 10px 10px 0;
	width: 30px;
}

.copyright {
	font-weight: normal;
}

/* Medium-size screens */
@media screen and (max-width: 1280px) {
	#sitename, header nav ul li, #joinus label, #jointop p, #jointop ul li, p, footer{
		font-size: 1em;
	}
	
	header {
		height: 65px;
	}
	
	header nav ul li {
		padding: 10px 20px;
	}
	
	h1 {
		font-size: 70px;
	}
	
	h2 {
		font-size: 55px;
	}
	
	h3 {
		font-size: 30px;
	}
	
	h4 {
		font-size: 25px;
	}
	
	.banner {
		padding: 10px 0;
	}
}

/* Mobile screens */

@media screen and (max-width: 736px) {
	.question {
		flex-wrap: wrap;
		justify-content: center;
	}
		
	#jointop {
		flex-wrap: wrap;
	}
	
	#jointop > * {
		flex: 100%;
	}
}